## Анонимность

**Частичная (односторонняя) анонимность** актов терапии действует только для клиента **заранее** предложившего её **до первого сеанса** в качестве меры личной безопасности. На нем лежит вся **техническая отвественность** за защиту от **деанонимизации**. Клиент **сам** регистрирует и  обслуживает *одноразовые почтовые ящики, анонимные аккаунты, скремблирование, маскирование* и т.п. средства сохранения личной анонимности.

Если односторонняя анонимность усложняет проведение терапии или требует дополнительных затрат, цена сеанса может  быть **увеличена**, но об этом долно быть заявлено до начала **второго сеанса**.

**Полная (обоюдная) анонимность** возможна, но только в том случае, если терапевтом и клиентом **при содействии третьих лиц** будут достигнуты условия полной невозможности деанонимизации. 

Анонимные сеансы оплачиваются **исключительно не фиатным** (крипто) деньгами, список которых **предоставляется терапевтом**.
