## Оплата
---

Основной метод расчета "постоплатный". Оплата вносится **после** сеанса и **до начала** _следующего_. По предватительной договорённости будущие сеансы могут оплачиваться **авансом** ("внесенным _депозитом_").

**Выбор валюты - право клиента**. 
Оплата принимается в _конвертируемых_ **фиатных** и **не фиатных** (_крипто_) валютах. Курсы к базовой валюте (USD) **фиксируются** на момент выставления счета. Для депозитов курс **фиксируется на момент внесения** средств на счет терапевта, если оплата проведена **до первого состоявшегося** платного сеанса.

Каждый сеанс оплачивается **по отдельному счету**.  

Счет выставляется по любому выбранному клиентом адресу, который он может изменить **до** или **сразу после** текущего сеанса.

*Списание оптаты* с _депозита_ подтверждается _выставленным счетом_ за **каждый** сеанс. Если в процессе терапии клиентом внёсшим депозит принято **решение об отказе** от дальнейшего решения проблемы, **не израсходованные средства** воззвращаются **если остаток депозита больше половины внесенной суммы**.
