## Отказ
---

Терапия **не проводится** с **родственниками** или людьми **лично знакомыми** в **реальной** или **виртуальной** жизни.

Не даются консультации по **преднамеренному обману**, непосредственному **сокрытию преступной деятельности** и **поощряющие корпоративные манипуляции**, целью которых является получение карьерной выгоды в **ущерб коллегам по работе**.

#### Для начала работы необходимо заполнить [форму "Отказа от этических ограничений"](https://ivlev.github.io/disclaimer/), инструкции по заполнению приложены.
